<h2>All Articles!</h3>
<table>
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        TITLE
      </th>
      <th>
        Description
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
  <%@articles.each do |article|%>
  <tr>
    <td>
      <%=article.id%>
    </td>
    <td>
      <%=article.title%>
    </td>
    <td>
      <%=article.description%>
    </td>
    <td>
      None
    </td>
  </tr>
  <%end%>
  </tbody>
</table>
