<div class="container">
    <h1 class="text-primary">About Page</h1>
    <p>
        <%= link_to "Articles Listing", articles_path%>
    </p>
    <p>
        <%= link_to "Home", root_path%>
    </p>
</div>